<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <% if (CONFIG.environment !== 'test') { %>
    <meta content="<%= csrfToken %>" name="csrf-token" />
    <% } %>
    <title>PatOS - Installation Admin</title>
    <link rel="icon" type="image/gif" href="/images/favicon.gif" />
    <link rel="stylesheet" href="/build/stylesheets/base.css"/>
  </head>
  <body>
    <div style="font-size: 0.75rem; color: black; background-color: yellow; padding: 1rem;">
      This is the default layout/application.
      <b>If you need to run some JS set the <code>layout: false</code> and create a new entry point.</b>
      This is a temporary message while the final visual desing is delivered.
    </div>
    <div class="yield">
      <pre><%= JSON.stringify(flash, null, 2) %></pre>
      <%= yield %>
    </div>
  </body>
</html>
