button {
  background-color: transparent;
  border: none;
}

.Button {
  cursor: pointer;
  border: 1px solid;
  text-decoration: none;
  text-align: center;
  background-color: transparent;

  font-size: 13px;
  line-height: 40px;
  height: 40px;
  padding-top: 0;
  padding-bottom: 0;
  letter-spacing: 1px;
  border-radius: 3px;

  &.-sm {
    font-size: 11px;
    line-height: 21px;
    height: 21px;
  }

  &.-md {
    font-size: 10px;
    line-height: 34px;
    height: 34px;
  }

  &.--circle {
    font-size: 1.75rem;
    width: 43px;
    height: 43px;
    line-height: 43px;
    padding: 0;
    letter-spacing: 0;
    border-radius: 50%;
    font-weight: 300;
  }
}

.Button.--default {
  border-color: rgba(0,0,0,.2);
  &:hover {background-color: rgba(0,0,0,.05)}
  &:active {background-color: rgba(0,0,0,.1)}
}

.Button.--primary {
  background-color: var(--brand-color);
  color: #fff;
  &:hover {background-color: color(var(--brand-color) tint(10%))}
  &:active {background-color: color(var(--brand-color) shade(10%))}
}
