.flash {
  position: relative;
  font-size: .75em;
  padding: 1rem;
  background-color: #ffc107;
}

.chekbox-over-input {
  font-size: 11px;
  position: absolute;
  top: 50%;
  right: 1.5rem;
  transform: translate(0, -50%);
}

.center {
  text-align: center;
}

.relative {
  position: relative;
}

.SessionMainContainer {
  flex-grow: 1;
}

.SessionWrapper {
  position: relative;
  width: 380px;
  margin: 0 auto 2rem;
  background: #fff;
  box-shadow: 0 1px 3px rgba(0,0,0,.3);
  border-radius: 0 0 6px 6px;
}

.SessionHeader {
  position: relative;
  height: 185px;
  text-align: center;

  &__logo {
    width: 80px;
    height: 80px;
    margin: 0 auto;
    background-color: var(--brand-color);
    border-radius: 50%;
  }

  &__title {
    font-size: 28px;
    margin: 0;
  }

  &__subtitle {
    position: absolute;
    bottom: -9px;
    left: 0;
    right: 0;
    margin: 0;
    letter-spacing: 1px;
    text-transform: uppercase;

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 10px;
      right: 10px;
      height: 1px;
      background-color: rgba(0,0,0,.1);
    }

    & > span {
      position: relative;
      padding: 0 1rem;
      background-color: #fff;
    }
  }
}

.SessionForm {
  padding: 40px;

  & a {
    color: currentColor;
    &:hover {opacity: .8}
  }

  &__title {
    font-size: 1.5rem;
  }

  &__info {
    font-size: 11px;
    color: var(--light-gray);
  }
}

.SessionFooter {
  font-size: 11px;

  & a {color: currentColor}
}
