<pre><%= JSON.stringify(account, null, 2) %></pre>

<form class="edit-form" action="<%= helpers.urlFor.Accounts.show(account.id) %>" method="POST">
    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
    <input type="hidden" name="_method" value="PUT">

    <label for="name">First Name</label> <input type="text" name="firstName" value="<%= account.firstName %>">
    <label for="name">Last Name</label> <input type="text" name="lastName" value="<%= account.lastName %>">
    <label for="name">Account Type</label> <input type="text" name="type" value="<%= account.type %>">
    <label for="name">User ID</label> <input type="text" name="userId" value="<%= account.userId %>">
    <label for="name">Branch</label> <input type="text" name="branchName" value="<%= account.branchName %>">

    <input type="submit" value="Submit">
</form>
