<pre><%= JSON.stringify(branches, null, 2) %></pre>

<table>
    <tr>
        <th>Branch ID</th>
        <th>Branch Name</th>
    </tr>
    <% branches.forEach(function (branch) { %>
    <tr>
        <td><%= branch.id %></td>
        <td><%= branch.name %></td>
        <td><a href="<%= helpers.currentInstallationUrl %>?guest_login_token=<%= helpers.guestBranchToken(branch.name) %>">Login to branch</a></td>
        <td><a href="<%= helpers.urlFor.Branches.edit.url(branch.id) %>">Edit</a></td>
    </tr>
    <% }) %>
</table>

<a href="<%= helpers.urlFor.Branches.new.url() %>">New Branch</a>
