<pre><%= JSON.stringify(installations, null, 2) %></pre>

<table>
  <tr>
    <th>Installation ID</th>
    <th>Installation Name</th>
  </tr>
  <% installations.forEach(function (installation) { %>
    <tr>
      <td><%= installation.id %></td>
      <td><%= installation.name %></td>
      <td><a href="http://default.<%= installation.name %>.<%= CONFIG[CONFIG.environment].defaultDomainName %>?guest_login_token=<%= helpers.guestInstallToken(installation.name) %>">Login to installation</a></td>
      <td><a href="<%= helpers.urlFor.InstallationManager.Installations.edit.url(installation.id) %>">Edit</a></td>
    </tr>
  <% }) %>
</table>

<a href="<%= helpers.urlFor.InstallationManager.Installations.new.url() %>">New Installation</a>
