/* Layout */
.-full-height {height: 100%}
.-full-width {width: 100%}

.-s8 {
  width: 8px;
  height: 8px;
}

.-s12 {
  width: 12px;
  height: 12px;
}

.-s16 {
  width: 16px;
  height: 16px;
}

/* Text */
.-ttu {text-transform: uppercase}
.-ttc {text-transform: capitalize}
.-ls1 {letter-spacing: 1px}

/* Typography */
.-font-thin {font-weight: 100}
.-font-extra-light {font-weight: 200}
.-font-light {font-weight: 300}
.-font-normal {font-weight: 400}
.-font-medium {font-weight: 500}
.-font-semi-bold {font-weight: 600}
.-font-bold {font-weight: 700}
.-font-ultra-bold {font-weight: 900}

.-font-14 {font-size: 1.166666rem}
.-font-16 {font-size: 1.33333rem}
.-font-17 {font-size: 1.416666rem}
.-font-26 {font-size: 2.166666rem}

/* Colors */
.-gray {color: var(--gray)}
.-light-gray {color: var(--light-gray)}
