<!DOCTYPE html>
<html lang="en">
  <head>
    <%= renderPartial('partials/head.html', {
      title: 'Users / edit'
    }) %>
  </head>
  <body>
    <pre><%= JSON.stringify(user, null, 2) %></pre>
    <h2>Update email</h2>
    <div class="edit-email"></div>
    <h2>Update password</h2>
    <div class="edit-password"></div>
    <script src="/build/javascripts/user_edit.js"></script>
    <script>
      var user = <%= JSON.stringify(user) %>;

      var emailForm = new editEmailForm({
        data: {
          url: '<%= helpers.urlFor.InstallationManager.Users.show.url(user.id) %>',
          user: user,
          csrfToken: '<%= csrfToken %>'
        }
      }).render(document.querySelector('.edit-email'));

      var passwordForm = new editPasswordForm({
        data: {
          url: '<%= helpers.urlFor.InstallationManager.Users.show.url(user.id) %>',
          csrfToken: '<%= csrfToken %>'
        }
      }).render(document.querySelector('.edit-password'));
    </script>
  </body>
</html>
