<pre><%= JSON.stringify(adminUser, null, 2) %></pre>

<h2>Update email</h2>
<div>
  <form action="<%= helpers.urlFor.InstallationManager.Users.show.url(adminUser.id) %>" method="POST">
    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
    <input type="hidden" name="_method" value="PUT">
    <label for="email">Email</label>
    <input type="text" name="email" value="<%= adminUser.email %>">
    <input type="submit" value="Submit">
  </form>
</div>

<h2>Update password</h2>
<div>
  <form action="<%= helpers.urlFor.InstallationManager.Users.show.url(adminUser.id) %>" method="POST">
    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
    <input type="hidden" name="_method" value="PUT">
    <label for="password">Password</label>
    <input type="password" name="password" value="">
    <input type="submit" value="Submit">
  </form>
</div>
